footer
    .container
        hr
        br
        .linkBox
            i(class='fab fa-github')
            a(target='_blank' href='https://github.com/bstanfield/staticSkeleton') Shelly Repo
        
        .linkBox
            i(class='fas fa-user-circle')
            a(target='_blank' href='https://benstanfield.io') Ben Stanfield