extends layout

block content
  .container
    :markdown-it
      # 🐢 Shelly
      Shelly is a **Brunch App** shell with some neat out of the box features.
      Made for web developers that want to **move beyond vanilla HTML and CSS**, and to help people write better and more scalable code. 
      Some of Shelly's features:

    include:markdown-it markdown/featurelist.md

    +update(new Date())

    