extends layout

block content
  .container
    h1 👋 Hello!
    p This Brunch template:
    
    ul
      li Automatically compiles <strong>Pug (Jade)</strong> and <strong>SCSS</strong> files.
      li Live-reloads changes to any file (⌘S). 
      li Comes with a tried-and-true file tree structure, including folders for includes, images, hidden mixins, etc.
      li Comes with <strong>jQuery</strong> enabled out of the box.
      li Contains a nifty <strong>Layout.pug</strong> file that stitches together a footer, nav, and header into the index.

    